body{
    background-image: url(background.png);
}

.glavni{
    margin: 30px 5px 0px 5px;
    background-color: #ADADAD;
    border-top: 3px solid #64485C;
    border-radius: 5px 5px 0px 0px;
}

upis {
    padding: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 150px;
}

input {
    display: inline-block;
    margin: 5px
}


