body{
    background-image: url(images/background.png);
}

.kont{

    margin-top: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #ADADAD;
    border-top:3px solid #64485C;
    border-radius: 5px;
}
header{
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    margin-top: 5px;

}
.user{
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.user > p {
    display: inline-block;
    color: #64485C;
    font-weight: bold;
    font-family: Verdana;
    font-size: larger;
    margin-left: 30px;
    margin-right: 10px;
    
}

.slika2{
    justify-self: end;
    margin-right: 10px;
}

nav{
    display: flex;
    height: 3vw;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #3A454D;
    font-family: Calibri;
 
}
nav > a{
    color: white;
    text-decoration: None;
    margin-left: 30px;
}

main {
    display: flex;
    background-color: #ADADAD;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

main > table {
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: #3a454d;
    color: white;
}

thead > tr > th {
    padding: 10px;
    font-family: Calibri;
    font-weight: bold;
}

tr > th, td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody {
    background-color: #DDDDDD;
}

tr:nth-child(even) {
    background-color: #ADADAD;
    }