<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{naslov}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="glavni">
            <header>
                <div class="lijevi">
                    <p>{{username}}</p>
                    <img src="{{url_for('static', filename='user-icpn.png')}}" alt="Logo user icon" width="70px">
                </div>
                <img class="slika" src="{{url_for('static', filename='icon.png')}}" alt="Icon" width="70px">
            </header>
            <nav>
                <a href="{{url_for('logout')}}">Logout</a>
                <a href="?id=1">Temperatura</a>
                <a href="?id=2">Vlaga</a>
            </nav>
            <main>
                <table>
                    {% block temperatura %}
                    <thead>
                        <th>Datum</th>  
                        <th>Temperatura</th>
                    </thead>  
                    <tbody>
                        {% for temperatura in temperature % }
                        <tr>
                            <td >{{temperatura.datum}}</td>
                            <td >{{temperatura.vrijednost}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>   
                    {% endblock temperatura %}
                    {% block vlaga %}
                    <thead>
                        <th>Datum</th>  
                        <th>Vlaga</th>
                    </thead>  
                    <tbody>
                        {% for vlaga in vlage % }
                        <tr>
                            <td >{{vlaga.datum}}</td>
                            <td >{{vlaga.vrijednost}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endblock vlaga %}
                </table>
            </main>
        </div>
        


    </body>
</html>
